<!--
  Generated template for the ListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      List
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button block menuToggle>Toggle Menu</button>
</ion-content>
